* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}
/* Navbar style */
.nv_bar {
  /* position: fixed; */
  background-color: transparent;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: transparent;
}
.icon {
  width: 40px;
}

/* Row movies style */
.row {
  margin-top: 20px;
}
.row {
  margin-left: 20px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_image {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: 450ms;
  margin-right: 10px;
}
.row_image:hover {
  transform: scale(1.08);
}
.row_posterImage {
  max-height: 250px;
}
.row_posterImage:hover {
  transform: scale(1.09);
}
/* banner */
.netflix {
  width: 150px;
}
.banner {
  color: white;
  object-fit: contain;
  margin-bottom: 20px;
  height: 450px;
}
.banner_components {
  padding: 15px 50px;
}
.banner_discription {
  width: 45rem;
  max-width: 360px;
  height: 80px;
  margin-top: 10px;
  line-height: 1.2;
  font-size: 0.9rem;
}
.banner_title {
  font-size: 3.8rem;
}
.banner_btn {
  background-color: rgba(51, 51, 51, 0.5);
  margin: 10px 15px 0px 0px;
  color: white;
  border: none;
  font-size: 1.05rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 2px;
}
.banner_btn:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}
.fade_color {
  height: 5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.5),
    #111
  );
}

@media only screen and (max-width: 320px) {
  .banner_title {
    font-size: 1.8rem;
  }
}
